@media only screen and (max-width: 1450px) {
    .logo-container {
        h3 {
            display: none;
        }
    }
    .left-list {
        width: 100px;
        li {
            padding: 14px 22px;
        }
        li p {
            display: none;
        }
    }

    .left-list-bottom {
        p {
            display: none;
        }
    }

    .my-sales-inner {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1050px) {
    .my-sales-inner {
        grid-template-columns: 1fr;
    }

    .return-stats-container, .circle-stats-container, .stats-sale-container, .new-statement-container, .sale-list-container, .add-warehouse-container  {
        grid-column-start: 0;
        grid-column-end: 1;
    }
}